black==22.10.0
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_0ek9yztvu3/croot/certifi_1665076692562/work/certifi
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_62rp5d8fd4/croots/recipe/cffi_1659598655556/work
click==8.1.3
future==0.18.2
imageio==2.22.2
joblib==1.2.0
mkl-fft==1.3.1
mkl-random @ file:///opt/concourse/worker/volumes/live/f196a661-8e33-4aac-63bc-efb2ff50e035/volume/mkl_random_1626186080069/work
mkl-service==2.4.0
mypy-extensions==0.4.3
networkx==2.8.7
numpy @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_506mm96c6y/croot/numpy_and_numpy_base_1665773178060/work
packaging==21.3
pandas==1.5.1
pathspec==0.10.1
Pillow==9.2.0
platformdirs @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_7fs8_2xgrm/croots/recipe/platformdirs_1662711383474/work
plotly==5.11.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.5
PyWavelets==1.4.1
scikit-image==0.19.3
scikit-learn==1.1.3
scipy==1.9.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0
tenacity==8.1.0
threadpoolctl==3.1.0
tifffile==2022.10.10
tomli @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_90762ba4-f339-47e8-bd29-416854a59b233d27hku_/croots/recipe/tomli_1657175507767/work
torch==1.10.2
torchvision @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_76e3a3i195/croot/torchvision_1665558898586/work
tqdm @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_2adqcbsqqd/croots/recipe/tqdm_1664392689227/work
typing_extensions @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_ff5_5nqr6l/croots/recipe/typing_extensions_1659638832447/work
